# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Audio Data Files
data/raw/
data/processed/

